/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/

#btn-magnet .elementor-button:hover {
	transform: scale(1.5);
}

.woocommerce ul.products li.product .woocommerce-loop-product__link img,
.woocommerce-page ul.products li.product .woocommerce-loop-product__link img {
	opacity: 0.5;
}

.woocommerce ul.products li.product .woocommerce-loop-product__link img:hover,
.woocommerce-page ul.products li.product .woocommerce-loop-product__link img:hover {
	opacity: 1;
}

.marek-content {
	display: flex;
}

.text-left,
.text-right {
	width: 50%;
}

.text-left{
	padding-right: 2em;
}

@media (max-width: 921px) {
	.marek-content {
		display: block;
  	}

 	.text-left,
 	.text-right {
		width: 100%;
	}
}